@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Noto+Sans:wght@300&display=swap');
body {
  font-family: 'Cormorant Garamond';
}

/* /\/\/\/\/\/\/\ HEADER /\/\/\/\/\/\/\ */
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: right;
  grid-row: 1;
}
.logo_1 {
  grid-row: 1;
  width: 100px;
}
.nav_tag {
  font-size: x-large;
  color: #3582b2;
  font-style: normal;
  grid-row: 1;
  padding: 50px;
  text-align: right;
}
/* /\/\/\/\/\/\/\ FOOTER /\/\/\/\/\/\/\ */

footer {
  background-color: #3582b2;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 0px;
}

#social {
  grid-row: 1;
  grid-column: 2;
}

#contact_us {
  grid-column: 4;
}

.f_title {
  font-size: x-large;
}

.f_sub {
  font-family: 'Noto Sans';
}

/* /\/\/\/\/\/\/\ HOME /\/\/\/\/\/\/\ */

.home_main {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.photo_box {
  grid-column: 1;
  grid-row: 1;
}

.main_image {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  filter: brightness(50%);
}

#main_txt {
  color: white;
  padding: 20% 20% 5% 20%;
  margin-top: 0%;
  margin-bottom: 0;
  font-family: 'Noto Sans';
}

.get_started {
  margin-top: 0;
  color: #3582b2;
  padding: 10px 30px 10px 30px;
  background-color: white;
  border-radius: 2px black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #212121;
}

.section_1 {
  z-index: 0;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  /* background-color: white;
  margin: 200px 200px 200px 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #676767; */
  font-size: larger;
}

.section_2 {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  padding: 0% 20% 0% 20%;
  margin-bottom: 0px;
}

#service_title {
  color: #3582b2;
  font-size: xx-large;
}

.ad_txt {
  font-size: x-large;
  font-family: 'Noto Sans';
}

.learn_more {
  color: #3582b2;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  background-color: white;
  border-radius: 2px black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #676767;
}
/* /\/\/\/\/\/\/\ SHOP /\/\/\/\/\/\/\ */

/* /\/\/\/\/\/\/\ ABOUT /\/\/\/\/\/\/\ */

#about_body {
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  padding: 30px 10px 30px 10px;
  background-color: white;
  border-radius: 2px black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #676767;
}

.about_img_1 {
  width: 100%;
  margin-bottom: 0px;
}

.about_title {
  text-align: center;
  color: #3582b2;
  margin-top: 50px;
  margin-bottom: 25px;
}

.title_about {
  color: #3582b2;
  margin-left: 50px;
  margin-right: 10%;
}

#questions {
  color: #3582b2;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 10%;
}

.about_txt {
  font-family: 'Noto Sans';
  margin-left: 50px;
  margin-right: 10%;
  margin-bottom: 50px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-left: 50px;
  margin-right: 50px;
}

.contact  {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* /\/\/\/\/\/\/\ EMAIL /\/\/\/\/\/\/\ */

.email_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 2px black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #676767;
}

.girl {
  grid-row: 1/5;
  grid-column: 1;
  width: 100%;
  height: 100%;
  border-radius: 10px 00px 0px 10px;
}

.email_div {
  grid-row: 3;
  grid-column: 2/4;
  margin-right: 10%;
  margin-bottom: ;

  }

.sign_up {
  grid-row: 1;
  grid-column: 2/4;
  color: #3582b2;
  margin-top: 50px;
  margin-left: 150px;
  margin-bottom: 25px;
  font-size: 2.1em;
}

.p_1 {
  color: black;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 50px;
  font-family: 'Noto Sans';
  grid-row: 2;
  grid-column: 2/4;
}

.p_2 {
  color: rgb(116, 116, 116);
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 80px;
  margin-right: 50px;
  font-family: 'Noto Sans';
  grid-row: 4;
  grid-column: 2/4;
}

.email_name {
  background-color: rgb(219, 219, 219);
  color: rgb(94, 94, 94);
  padding: 20px;
  border-radius: 10px;
  margin-left: 150px;
  margin-right: 150px;
  font-family: 'Noto Sans';
}

.email_email {
  background-color: rgb(219, 219, 219);
  color: rgb(94, 94, 94);
  padding: 20px;
  border-radius: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
  font-family: 'Noto Sans';
}

.email_button {
  background-color: #3582b2;
  color: rgb(255, 255, 255);
  padding: 20px;
  padding-top: 12px;
  padding-bottom:12px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  font-family: 'Noto Sans';
}
